@import "./reset.css";

.container {
  width: min(100% - 30%, 1080px);
  margin-inline: auto;
}

/*-----------------------------------------------------*/
/* Header                                              */
/*-----------------------------------------------------*/

header {
  background-color: #192D3D;
}

.hflex {
  height: 60px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

h1 {
  font-size: 32px;
  line-height: 60px;
  margin-left: 15px;  
}

ul li {
  display: inline;
  line-height: 60px;
}

ul li + li {
  margin-left: 15px;
}

nav ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  color: #192D3D;
  background-color: #00D1C6;
}

.bars {
  display: none;
  line-height: 60px;
  color: #fff;
  font-size: 22px;
}

@media (max-width: 768px) {
  .container { width: min(100% - 5%, 768px);}
  .bars { 
    display: block;
    margin-right: 15px;
    transition: all 0.25s ease-in-out;
  }
  h1 { font-size: 28px; }
  .bars:hover { color: #00d1c6; }
  header nav ul li { display: none;}
}

.show { display:block; }
/*-----------------------------------------------------*/
/* Main                                                */
/*-----------------------------------------------------*/

/*----Hero Banner--------------------------------------*/

.hero {
  margin-top: 1px;
  height: 100vh;
  background: #000 url("../images/abstract.jpg") center / cover no-repeat;
}

.hero .container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.hero .text {
  color: white;
  width: min(100% - 40%, 1080px);
  background-color: rgba(0, 0, 0, 0.4);
  border: 3px solid #f1f1f1;
  text-align: center;
  padding: 100px 0;
}

.text p {
  font-size: 14px;
}

.text h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.text h3 {
font-size: 24px;
}

@media (max-width: 768px) {
  .container { width: min(100% - 5%, 768px);}
  .text h2 { font-size: 24px; }
  .text h3 { font-size: 20px; }
}

/*----Hero Banner Animation--------------------------------------*/

[data-animation-offset="first"] {
  animation: trans 1.5s ease-in-out;
}

@keyframes trans {
  from {
    opacity: 0;
    translate: 0 -15px;
  }
  
  to {
    opacity: 1;
    translate: 0 0;
  }
}

/*----About me section------------------------------------------*/

.about-me {
  height: 300px;
  background-color: #f1f1f1;
}

.about-me .container {
  display: grid;
  place-items: center;
  height: 300px;
}

.me {
  border: #474747 solid 0.5px;
  border-radius: 10px;
  padding: 15px 15px 40px 15px;
  background-color: #fff;
}

.me h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 15px;
}

.me p {
  margin: 0 15px;
  text-align: center;
}

.me .extra {
  margin-top: 15px;
}

/*----Contact-me section------------------------------------------*/

.contact-me {
  height: 300px;
  background-color: #f1f1f1;
}

.contact-me .container {
  display: grid;
  place-items: center;
  height: 250px;
}

.contact {
  border: #474747 solid 0.5px;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
}

.contact p {
  text-align: center;
  margin: 0 15px;
}

.contact .or {
  margin: 10px 0;
  font-weight: 600;
}

.contact nav ul {
  text-align: center;
}
.contact nav ul li .fa-brands {
  height: 40px;
  width: 40px;
  color: #000;
  background-color: #fff;
  border: #272727 solid 0.5px;
  font-size: 20px;
  border-radius: 50%;
  line-height: 40px;
  transition: all 0.5s ease-in-out;
}

.contact nav ul li .fa-brands:hover {
  background-color: #00D1C6;
}
/*-----------------------------------------------------*/
/* Footer                                              */
/*-----------------------------------------------------*/

footer {
  background-color: #192D3D;
  height: 60px;
}

.fa-brands {
  height: 40px;
  width: 40px;
  color: #000;
  background-color: #fff;
  font-size: 20px;
  border-radius: 50%;
  line-height: 40px;
  transition: all 0.5s ease-in-out;
}

.fa-brands:hover {
  background-color: #00D1C6;
}

.fflex ul li:first-child {
  margin-left: 15px;
}

.fflex {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer p {
  line-height: 60px;
  color: #fff;
  margin-right: 15px;
}
